#help-button-div {
	position: absolute;
	top: 0px; 
	right: 0px;	
	z-index: 11;
	font-size: 25px;
	width: 100px;
	height: 130px;
	color: #000000;
	background-color: #AAAAAA;
	border: 5px solid;
}

#help-button-icon-div {
	color: #000000;
	margin-left: 8px;
	margin-top: 0px;
}

#change-button-div {
	position: absolute;
	bottom: 0px; 
	right: 0px;	
	z-index: 11;
	font-size: 25px;
	width: 100px;
	height: 130px;
	color: #000000;
	background-color: #AAAAAA;
	border: 5px solid;
}

#change-button-icon-div {
	color: #000000;
	margin-left: 5px;
	margin-top: 17px;
}

